body {
  margin: 0;
  font-family: sans-serif;
}
main {
  display: grid;
}
#main-images {
  height: 100vh;
  width: 100%;
}
.list-scroll {
  position: relative;
  height: 30ch;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  margin: 10px;
}
.list-scroll > img {
  flex-shrink: 0;
  height: 100%;
  width: 40ch;
}
